* {
  margin: 0;
  padding: 0;
}

.home-container {
  width: 100vw;
  height: 100vh;
  margin-top: 120px;
  margin-bottom: 800px;
}

a:link {
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.footer a {
  color: #ffffff;
}

.footer a:hover {
  cursor: pointer;
  color: #afe8bd;
  transition: color 0.3s ease; /* Add a transition for smooth color change */
}
